<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 Property List.plist
 David
 Created by David on 2018/10/25.
 Copyright (c) 2018年 MOON All rights reserved.
-->
<plist version="1.0">
 <dict>
 <key>items</key>
 <array>
 <dict>
 <key>assets</key>
 <array>
 <dict>
 <key>kind</key>
 <string>software-package</string>
 <key>url</key>
 <string>http://create.ucreatepark.cn/dzw_v1.0.3.ipa</string>
 </dict>
 <dict>
 <key>kind</key>
 <string>full-size-image</string>
 <key>needs-shine</key>
 <true/>
 <key>url</key>
 <string>http://create.nimeiyo.com/57_57dzw.png</string>
 </dict>
 <dict>
 <key>kind</key>
 <string>display-image</string>
 <key>needs-shine</key>
 <true/>
 <key>url</key>
 <string>http://create.nimeiyo.com/521_521dzw.png</string>
 </dict>
 </array>
 <key>metadata</key>
 <dict>
 <key>bundle-identifier</key>
 <string>io.dcloud.dzyx</string>
 <key>1.0.3</key>
 <string>1.0.3</string>
 <key>kind</key>
 <string>software</string>
 <key>subtitle</key>
 <string>电赚游戏</string>
 <key>title</key>
 <string>电赚游戏</string>
 </dict>
 </dict>
 </array>
 </dict>

</plist>
